/* Inspirado en style.css original del ZIP */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
}

h2 {
  color: #b86e23;
}

.btn-success, .btn-primary {
  background-color: #b86e23;
  border-color: #b86e23;
}

.btn-success:hover, .btn-primary:hover {
  background-color: #995b1e;
  border-color: #995b1e;
}

.table-dark {
  background-color: #b86e23;
}

input, select {
  border-radius: 8px;
}
