body {
    font-family: Arial, sans-serif;
    padding: 30px;
    background-color: #f2f2f2;
}

h1 {
    color: #333;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

table, th, td {
    border: 1px solid #aaa;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #632412;
    color: white;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28A745;
    color: white;
    border: none;
    cursor: pointer;
}